body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: "Open Sans";
}

#layout {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0; 
    left: 0; 
    bottom: 0;
    right: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

#rightCol {
    overflow: hidden;
}

#render {
    background: black;
    image-rendering: pixelated;
    width: 100%;
    height: 100%;
}

#selector {
    width: 100%;
    height: 100%;
}

#input {
    height: 100%;
}

#dragger {
    cursor: grab;
    width: 5px;
    background: grey;
}

.allower {
    overflow: hidden;
    min-height: 100%;
}

#help {
    display: none;
    position: fixed;
    vertical-align: middle;
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -200px;
    background: #eeeeee;
    border: solid 2px grey;
}

#help.show {
    display: block;
}

#help .close {
    background: #eeeeee;
    border: solid 2px grey;
    position: absolute;
    top: -20px;
    right: -20px;
    cursor: pointer;
}

.help-body {
    height: 360px;
    padding: 20px;
    overflow: auto;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.5);
}
#overlay.show {
    display: block;
}
